{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Home
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for( '.static', filename='Home.css' ) }}" >
{% endblock %}

{% block content %}

<h3>Create/Edit Post</h3>

<form action="/heyhey", method='POST'>
   {{form.hidden_tag()}}
   <div>
      <div>{{ wtf.form_field(form.question) }}
      <div>{{  wtf.form_field(form.answer) }}
   </div>
   <p>
      <input type=submit value="Publish">
</form>

	
{% endblock %}
