<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>udhqwad</title>
</head>
<body>
    <div class ="nav_bar">
        <ul>
            <li><a href="#"> Home</a></li>
            <li><a href="#"> profile</a></li>
        </ul>
        <div class="log">
            <a href="#"> Log Out</a>
        </div>
    </div>
    <div class="profile">
        <div class="img">
            <img  src="profile.jpg" alt="image is not available" width="250" height="250">
        </div >
        <a href="#">Update image</a>
        <div class="content">

            <p id="head"> Username -</p>
            <P id="variable"> Alfiza</p>
            <hr>
            <p id="head">Email -</p>
            <P id="variable">alfiza.s@somaiya.edu</P>
            <hr>
        </div>

    </div>
</body>
</html>
