{% extends "bootstrap/base.html" %}	
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for( '.static', filename='Login.css' ) }}" >
{% endblock %}

{% block content %}
  <div class ="nav_bar">
        <ul>
            <li><a href="{{ url_for( 'Home' )}}"> Home</a></li>
            <li><a href="{{ url_for( 'Signup' )}}"> Sign up</a></li>
        </ul>
    </div>
	<div>
        <form method='POST' action='/Login'  >
          <h1>Login</h1>
          <div class="container" , style = "width: 300px;">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            <button type="submit">Login</button>
          </div>

          <div class="container2" style="background-color:#f1f1f1">
          </div>
        </form>
    </div>
{% endblock %}
