{% extends "bootstrap/base.html" %}	
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Signup
{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for( '.static', filename='Signup.css') }}" >
{% endblock %}

{% block content %}
  <div class ="nav_bar">
        <ul>
            <li><a href="{{ url_for( 'Home' )}}"> Home</a></li>
            <li><a href="{{ url_for( 'Login' )}}"> Login</a></li>
        </ul>
    </div>
    <div >
        <form method="POST" action="/Signup" >
          <h1>Sign Up</h1>
          <div class="container" style="width: 300px" >
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
	        <button type="submit">Sign Up</button>

          </div>
        </form>
    </div>
{% endblock %}
